.grad-container {
  color: hsl(234 21% 66% / 1);
  background-color: white;
   
  background-image:linear-gradient(hsl(39 100% 46% / 1), hsl(39 100% 46% / 1) 5%, rgba(255, 255, 255, 0.477) 40%,rgba(255, 255, 255, 0.477) 60%, green), radial-gradient(circle at center ,rgba(0, 0, 255, 0.022) 15%, white 3%, white),
  linear-gradient(0deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(15deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(30deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(45deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(60deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(75deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(90deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(105deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(120deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(135deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(150deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(165deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(180deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(195deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(210deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(225deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(240deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(255deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(270deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(285deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(300deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(315deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(330deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(345deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%),
  linear-gradient(360deg, transparent 49.8%, rgb(0, 16, 163) 0.2%, transparent 50%);
  }

#india {
 background-image:linear-gradient(hsl(39 100% 46% / 1), hsl(39 100% 46% / 1) 5%, rgba(255, 255, 255, 0.477) 40%,rgba(255, 255, 255, 0.477) 60%, green);
}

.grad-frame {
  background-image: linear-gradient(orange, white , green);
}